@model CategoryAdminListViewModel
<ul class="list-group">
    <li class="list-group-item">
        <a href="/admin/article/index" style="text-decoration: none; color: black;">
            Tüm Makaleler
        </a>
    </li>
    @foreach (var category in Model.Categories)
    {
        <li class="list-group-item  @(category.Id == Model.CurrentCategory ? "active" :"")">
            <a href="/admin/article/index?categoryId=@category.Id" style="text-decoration: none; color: black;">
                @category.Name
            </a>
        </li>
    }
</ul>